#!/usr/bin/env bash

#{{ ansible_managed }}

# backup application data
/opt/gitlab/bin/gitlab-backup

# find latest data backup file
unset -v latest_data
for file in $(find {{ gitlab_backup_path }} -type f -name "*gitlab_backup.tar")
do
  [[ $file -nt $latest_data ]] && latest_data=$file
done

latest_config=$(echo $latest_data | sed 's/gitlab_backup.tar/gitlab_config.tgz/')

# backup configuration data
tar cvzf $latest_config {{ gitlab_backup_source }}

find {{ gitlab_backup_path }} -name "*gitlab_config.tgz" -mtime +30 -delete
